@import url('./animation.css');
@import url('./nowPlaying.css');
@import url('./button.css');


/* font */
@font-face {
    font-family: FANTIQUE;
    src: url('../font/FANTIQUE.TTF');
}
@font-face {
    font-family: Eringobragh;
    src: url('../font/eringobragh.ttf');
}
@font-face {
    font-family: CanelaRoman;
    src: url('../font/canela_roman.otf');
}
@font-face {
    font-family: CanelaBold;
    src: url('../font/canela_bold.otf');
}


/* init */
html, body{
    overflow: hidden;
}
html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    position: absolute;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
img{
    max-width: 100%;
}
canvas{
    position: absolute;
    width: '100%';
    height: '100%';
}