@import './public/bgContainer.css';
@import './open.css';
@import './playlist.css';
@import './animation.css';


/* init */
html{
    font-size: 10px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: white;
    overflow: hidden;
    position: absolute;
}
div#wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


/* canvas */
div#canvas-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
canvas#canvas{
    position: absolute;
    top: 0;
    left: 0;
    /* filter: drop-shadow(0 0 10px #ffffff); */
}


/* ui */
div#ui-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ui{
    position: absolute;
}