.ui-menu{
    position: absolute;
    top: 13px;
    right: 20px;
}
.ui-menu img{
    max-width: 100%;
}
.menu-btn-container{
    width: auto;
    height: auto;
    transform-origin: right top;
    display: flex;
}
.menu-btn{
    position: relative;
    width: 64px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s;
}
.menu-btn:hover{
    opacity: 1;
}

.volume-btn > div{
    position: absolute;
    font-family: CanelaBold;
    font-size: 20px;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.volume-btn span{
    padding-bottom: 5px;
}