.ui-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    --logo-width: 58rem;

    --deemo-width: 44rem;
    --deemo-ratio: 178 / 476;

    --hololive-width: 12rem;
}
.open-logo-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--logo-width);
    height: 100%;
}
.open-deemo-container{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: var(--deemo-width);
    height: calc(var(--deemo-width) * var(--deemo-ratio));
    transition: 0.4s;
}
.open-deemo-container div{
    width: 100%;
    height: 100%;
}
.open-hololive-container{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: var(--hololive-width);
    transition: 0.4s;
}
.open-hololive-container img{
    max-width: 100%;
}