.ui-playlist{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s;
}
.playlist-bg-container div{
    background: url('../src/bg.png') no-repeat center center / cover;
}