.ui-playlist{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.6s;
    font-family: FANTIQUE;

    --nav-width: 356px;
    --nav-height: 720px;
    --place-to-center: calc(634px - var(--nav-height));
}
.ui-playlist span{
    cursor: pointer;
}
.ui-playlist img{
    max-width: 100%;
}

/* bg */
.playlist-bg-container div{
    background: url('../src/bg.png') no-repeat center center / cover;
}

/* nav */
.playlist-nav-container{
    position: absolute;
    top: 50%;
    left: -40px;
    transform: translate(0, -50%);
    width: var(--nav-width);
    height: var(--nav-width);
}
/* nav background */
.nav-background{
    position: absolute;
    width: 100%;
    height: 100%;
}
.nav-background-child{
    position: absolute;
    height: var(--nav-height);
    bottom: var(--place-to-center);
}
.flare{
    width: var(--nav-width);
}
.flare-beam{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 8px;
}
.flare-beam div{
    position: absolute;
    transform-origin: center 456px;
    transition: transform 0.5s;
    width: 100%;
    height: 100%;
}
/* nav item box */
.nav-item-box{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 26px;
    white-space: nowrap;
}
.nav-item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-item div{
    position: absolute;
}
.nav-item span{
    position: absolute;
    transform: translate(-50%, -50%)
}
/* nav current */
.nav-current{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 192px;
    height: 192px;
    white-space: nowrap;
}
.nav-current > div{
    position: absolute;
    width: 100%;
    height: 100%;
}