.ui-visualizer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.visualizer-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.visualizer-container > canvas{
    position: absolute;
    width: 100%;
    height: 100%;
}

.v-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.v-logo > div{
    width: 100%;
    height: 100%;
}

.v1-logo{
    width: 17vh !important;
    height: 17vh !important;
}

.visualizer-vProgress-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
.progress-bar{
    width: 100%;
    height: 100%;
    transform-origin: left;
}

.visualizer-vBackground-container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.visualizer-vBackground-container > div{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bg-img{
    filter: blur(6px);
}